:root{
  --raven-celeste: #37e2d5;
  --raven-white: #ffffff;
  --raven-black: #000000;
  --raven-grey: #444444;
}
.celes{
  color: var(--raven-celeste) !important;
}
h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--raven-black);
}
body{
overflow-x: hidden;
}
p {
  font-size: 15px;
  /* margin: 40px 60px 10px 60px; */
}
.carousel {
  width: 100%;
  min-height: 75vh;
  padding: 80px 0;
  margin: 0;
  position: relative;
}
.carousel-item {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: 1;
  transition-duration: 0.4s;
}
.carousel-item::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.228);
  position: absolute;
  inset: 0;
}
.carousel-control-prev {
  justify-content: start;
}

@media (min-width: 640px) {
  .carousel-control-prev {
    padding-left: 15px;
  }
}

.carousel-control-next {
  justify-content: end;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background: none;
  font-size: 26px;
  line-height: 0;
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 3;
  transition: 0.3s;
}

.carousel-control-prev:focus,
.carousel-control-next:focus {
  opacity: 0.5;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  opacity: 0.9;
}

.cta-landing-1 {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5));
  padding: 60px 0;
  height: 75vh;
  margin-bottom: 50px;
}

.cta-landing-1 video {
  margin-top: 105px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 412px) {
  .cta-landing-1 video {
    margin-top: 68px;
  }
}
@media only screen and (max-width: 992px) {
  .cta-landing-1 video {
    margin-top: 68px;
  }
}

.cta-landing-1 .container {
  position: relative;
  z-index: 1;
}

.text-stroke-white {
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.500) !important;
}

.cta2 {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/poster.png") fixed center center;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -webkit-background-size: cover;
  padding: 60px 0;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}

@supports (-webkit-touch-callout: none) {
  .cta2 {
    background: url("../img/poster.png") center top no-repeat scroll;
    background-size: auto 350px;
  }
}

.redes{
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px !important;
}
/* Media query for screens up to 320px */
@media screen and (max-width: 320px) {
  .text-stroke-white {
    font-size: 4vh;
  }
}
/* Media query for screens between 321px and 425px */
@media screen and (min-width: 321px) and (max-width: 425px) {
  .text-stroke-white {
    font-size: 6vh;
  }
}
/* Media query for screens between 426px and 768px */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .text-stroke-white {
    font-size: 8vh;
  }
}
/* Media query for screens between 769px and 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .text-stroke-white {
    font-size: 10vh;
  }
}
@media screen and (min-width: 1025px) {
  .text-stroke-white {
    font-size: 20vh;
  }
}