:root {
  --raven-celeste: #37e2d5;
  --raven-white: #ffffff;
  --raven-black: #000000;
  --raven-grey: #444444;
}
body {
  color: var(--raven-black);
  background-color: var(--raven-white);
  /* transition: color 0.2s ease-in-out;
  background-color: 0.2s ease-in-out; */
}
h1 {
  color: var(--raven-black);
}
a {
  color: var(--raven-black);
}
span {
  color: var(--raven-black);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--raven-black) !important;
}
.white {
  color: var(--raven-white) !important;
}
.black {
  color: var(--raven-black) !important;
}

.credits a:hover {
  font-weight: bold;
}
/* .contact .php-email-form button[type="submit"] {
  background: var(--raven-white);
  border: 1px solid #395b64;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
  cursor: pointer;
}
.contact .php-email-form button[type="submit"]:hover {
  background-color: #bbe4e4;
  color: var(--raven-black);
  border: 1px solid #bbe4e4;
  transition: all ease-in-out 0.3s;
} */
/* .section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-family: "Lexend Deca", sans-serif;
  color: var(--raven-black);
} */

.contact .info {
  width: 100%;
  background-color: var(--raven-white);
}
/* .contact .php-email-form {
  width: 100%;
  background-color: var(--raven-white);
} */
#footer {
  background: var(--raven-white);
  padding: 0 0 30px 0;
  color: var(--raven-black);
  font-size: 14px;
}
#footer .footer-top {
  background: var(--raven-white);
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info h1 {
  color: var(--raven-black);
}
#footer .footer-top .footer-info p {
  color: var(--raven-black);
}
.contact .info h4 {
  color: var(--raven-black);
}
/* .contact .php-email-form textarea {
  background-color: var(--raven-white);
  color: var(--raven-black);
  border: 1px solid #395b64;
} */
/* .contact .php-email-form input {
  background-color: var(--raven-white);
  color: var(--raven-black);
  border: 1px solid #395b64;
} */
#footer .footer-top h1 {
  color: var(--raven-black);
}
.gmap {
  filter: grayscale(0%) invert(0%) contrast(100%);
}
/* .portfolio2 {
  height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--raven-white);
} */
@media only screen and (max-width: 412px) {
  .portfolio2 {
    height: 50vh;
  }
}
/* .btn-liquid {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;
  border-radius: 27px;
  color: var(--raven-white);
  font: 700 14px/60px "Varela Round", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
} */
/* .btn-liquid .inner {
  position: relative;
  z-index: 2;
  color: var(--raven-white);
} */
/* .btn-liquid canvas {
  position: absolute;
  top: -50px;
  right: -50px;
  bottom: -50px;
  left: -50px;
  z-index: 1;
}
.btn-liquid span {
  color: var(--raven-white);
} */
.portfolio-link {
  color: var(--raven-celeste);
}
/*--------------------------------------------------------------
# servicios
--------------------------------------------------------------*/
.servicios .icon-box {
  text-align: center;
  border: 10px inset #395b64;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  border-radius: 0px 100px 0px 100px;
  box-shadow: 14px 14px 9px -4px rgba(0, 0, 0, 0.24);
}
.servicios .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: var(--raven-celeste);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: 0.3s;
}
.servicios .icon-box .icon i {
  color: #151515;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}
.servicios .icon-box h2 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}
.servicios .icon-box h2 a {
  color: var(--raven-black);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
.servicios .icon-box h2 a:hover {
  color: var(--raven-celeste);
}
.servicios .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
  color: #444141;
}
.servicios .icon-box:hover {
  border-color: rgba(111, 109, 109, 0.953);
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
/*--------------------------------------------------------------
# nosotros
--------------------------------------------------------------*/
.nosotros {
  margin-top: 100px;
  padding-top: 20px;
  margin-bottom: 100px;
}
.nosotros .icon-box {
  padding-left: 15px;
}
.nosotros .icon-box h4,
.nosotros .icon-box h3,
.nosotros .icon-box h2,
.nosotros .icon-box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
  color: var(--raven-white);
}
.nosotros .icon-box i {
  font-size: 30px;
  float: left;
  color: var(--raven-celeste);
}
.nosotros .icon-box p {
  font-size: 15px;
  color: #444141;
  margin-left: 60px;
}
@media only screen and (max-width: 412px) {
  .nosotros .icon-box p {
    margin-right: 60px;
  }
}
.nosotros .image {
  background-image: url("../img/svg/undraw_programming_65t2.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 400px;
}
.nosotros .icon-box h4,
.nosotros .icon-box h3,
.nosotros .icon-box h2,
.nosotros .icon-box h1 {
  font-size: 30px;
  font-weight: 700;
  margin: 5px 60px 10px 60px;
  color: var(--raven-black);
}
.wasap {
  position: fixed;
  left: 30px;
  bottom: 30px;
  height: 60px;
  width: 60px;
  z-index: 10000;
  visibility: visible;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 100;
}
.btn-service {
  display: inline-block;
  position: relative;
  width: 240px;
  height: 60px;
  border-radius: 27px;
  color: var(--raven-white);
  background-color: var(--raven-celeste);
  font: 700 14px/60px "Varela Round", sans-serif;
  letter-spacing: 0.05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-landing {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 25px 10px 25px;
  border-radius: 15px;
}
.btn-landing:hover {
  color: #343a40;
}

.main-heading {
  color: white !important;
}

/* scrollbar custom */
/* ::-webkit-scrollbar {
  background: var(--color-white);
  border-left: 1px solid var(--raven-black);
} */
/* Track */
/* ::-webkit-scrollbar-track {
  background: var(--raven-white);
} */
/* ::-webkit-scrollbar-corner {
  background: var(--raven-white);
} */
/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 8px; 
} */
/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: var(--raven-celeste); 
} */
